body{
  display: flex;
  place-items: center;
  margin:250px 0 0 500px;
  height: 713px;
  width: 360px;
  /* border-radius: 5px 20px 5px; */
  /* background: #1E002C; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.main{

}
.container{
  height: 713px;
  width: 360px;
  /* border-radius: 5px 20px 5px; */
  background: #1E002C;
}

input{
  margin-top: 30px;
}

.submitBtn{
  margin: 30px;
}

.NavBar{
  background-color: rgba(54, 54, 54, 0.80);
  height: 70px;
}

.Fitness-Pro{
  font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
  color: #AD00FF;
}

.Allinput{
  margin: 28px;
  width: 309px;
height: 475px;
flex-shrink: 0;
border-radius: 14px;
opacity: 0.5;
background: linear-gradient(180deg, #AD00FF 0%, #FF00C7 100%);

}

.name{

}